html,body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}
body{
    width:100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

}
aside{
    width:400px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
main{
    text-align:center;
    width:100%;
    background-color:var(--colorfondo );
    color:white;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}
main h1,main h2{
    color:white;
}
main,aside{
    
    box-sizing: border-box;
    padding:20px;
}
form{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}