:root{
    --colorprincipal: indigo;
    --colorfondo : indigo;
}
@font-face {
  font-family: UbuntuRegular;
  src: url(fuentes/Ubuntu-R.ttf);
}
@font-face {
  font-family: UbuntuBold;
  src: url(fuentes/Ubuntu-B.ttf);
}
body{
    font-family:UbuntuRegular,sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:var(--colorprincipal);
}