body{
    font-family: sans-serif;
    background:rgb(240,240,240);
    height:100%;
}
header,main,footer{
    width:800px;
    margin:auto;
    background:white;
    padding:20px;
    text-align:center;
    position:relative;
    z-index:100;
    box-shadow:0px 5px 10px rgba(0,0,0,0.3);
}
main{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.producto img{
    width:100%;
}
aside{
    width:400px;
    height:600px;
    position:fixed;
    background:white;
    box-shadow:0px 10px 20px rgba(0,0,0,0.3);
    padding:20px;
    bottom:0px;
    left:calc(50% + 50px);
    
}
#contieneproductos{
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
}
.animaparece{
    animation:aparece 2s;
    animation-fill-mode: forwards;
}
.animaesconde{
    animation:desaparece 2s;
    animation-fill-mode: forwards;
}
@keyframes aparece{
    0%{left:calc(50% + 50px);z-index:0;}
    50%{left:calc(50% + 450px);z-index:100;}
    100%{left:calc(50% + 50px);z-index:200;}
}
@keyframes desaparece{
    0%{left:calc(50% + 50px);z-index:200;}
    50%{left:calc(50% + 450px);z-index:100;}
    100%{left:calc(50% + 50px);z-index:0;}
}
#iconocarrito{
    width:32px;
    float:right;
}